.banner-container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 10px;

  & .banner {
    color: white;
    font-family: $font-title;
    font-size: 14px;
    letter-spacing: 0.22em;
    font-weight: 5;
    text-transform: uppercase;

    & h3 {
      animation: bannerAnim 3s linear 0s infinite alternate-reverse forwards;
      transition: all 2s ease-in-out;
    }
    @keyframes bannerAnim {
      0% {
        transform: translateX(-50px);
        transition: all 2s ease-in-out;
      }

      100% {
        transform: translateX(50px);
        transition: all 2s ease-in-out;
      }
    }
  }
}
