.navbar-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 50px;
  
    & img {
      width: 200px;
      height: auto;
    }
  
    & ul {
      display: flex;
      width: 50vw;
      justify-content: space-around;
      align-items: center;
  
      & .navlink2 {
        text-decoration: none;
        overflow: hidden;
        position: relative;
        z-index: 0;
      }
  
      & .navlink2::before {
        content: "";
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(249, 215, 61);
        z-index: -1;
        transition: all 0.3s;
      }
  
      & .navlink2:hover::before {
        cursor: pointer;
        top: 0px;      
      }
  
      & li {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid rgb(249, 215, 61);        
        background: white;
        border-bottom: none;
        width: 222px;
        height: 70px;
        font-family: $font-msc;
        font-weight: 800;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 8px;
        color: black;
        
      }
    }
  }
  