.navbar-container-msc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 50px;

  & img {
    width: 200px;
    height: auto;
  }

  & ul {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;

    & .navlink-msc {
      text-decoration: none;
      overflow: hidden;
      position: relative;
      z-index: 0;
    }

    & .navlink-msc::before {
      content: "";
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ff3cac;
      background-image: linear-gradient(
        212deg,
        #ff3cac 0%,
        #784ba0 50%,
        #2b86c5 100%
      );

      z-index: -1;
      transition: all 0.3s;
    }

    & .navlink-msc:hover::before {
      cursor: pointer;
      top: 0px;
    }

    & li {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      width: 222px;
      height: 70px;
      font-family: "Italiana";
      font-weight: 900;
      font-size: 2rem;
      text-transform: capitalize;
      letter-spacing: 1px;
      color: black;
      background: white;
    }
  }
}
