section.container-about {
  height: 640vh;
  overflow-x: hidden;

  //* Formation photographe //
  & .formation-photo {
    & .title-main {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      & h1 {
        font-family: $font-title;
        font-size: 40px;
        font-weight: 100;
        text-transform: uppercase;
        text-decoration: 1px underline;
        text-underline-offset: 8px;
        padding: 20px;
      }
    }

    & .photographe {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 65vh;

      & .text-photo {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .title-photo {
          padding: 30px;

          & h4 {
            font-family: $font-paragraph-reg;
            font-size: 27px;
            font-weight: 1000;
            letter-spacing: 8px;
          }
        }

        & .text-p {
          width: 807px;
          height: 578px;
          display: flex;
          flex-direction: column;
          padding: 30px;
          margin-bottom: 50px;
          background: $color-div;          
          border: 3px solid black;
          border-radius: 20px;
          box-shadow: 13px 16px 4px #000000;
          animation: slide-right 2s linear 0s 1 normal forwards;          

          @keyframes slide-right {
            0% {
              opacity: 0;
              transform: translateX(250px);
            }

            100% {
              opacity: 1;
              transform: translateX(0);
            }
          }
          & p {
            padding: 20px 10px 20px 10px;
            font-size: 1.2rem;
            font-family: $font-paragraph-light;
            letter-spacing: 2px;
          }
        }
      }

      & .img-photo {
        display: flex;
        width: 600px;
        height: auto;
        border: 3px solid black;
        transform: rotate(-90deg);
        box-shadow: -6px -6px 8px 1px rgba(0, 0, 0, 0.83);
        -webkit-box-shadow: -6px -6px 8px 1px rgba(0, 0, 0, 0.83);
        -moz-box-shadow: -6px -6px 8px 1px rgba(0, 0, 0, 0.83);
        animation: slide-left 2.5s linear 0s 1 normal forwards;
        

        @keyframes slide-left {
          0% {
            transform: translateX(0) rotate(-90deg);
            border-radius: 0px;
          }

          100% {
            transform: translateX(100px) rotate(-90deg);
            border-radius: 0px 0px 0px 500px;
          }
        }

        & img {
          width: 100%;
          height: 100%;
          animation: border-right 2.5s linear 0s 1 normal forwards;
        }
        @keyframes border-right {
          0% {
            border-radius: 0px;
          }

          100% {
            border-radius: 0px 0px 0px 500px;
          }
        }
      }
    }
    & .social-photo {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

      & .insta {
        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
          animation: instagram 1.8s ease-in-out 0s infinite normal both;
        }
        @keyframes instagram {
          0% {
            transform: scale(1);
          }

          50% {
            transform: scale(1.1);
          }

          100% {
            transform: scale(1);
          }
        }

        & a {
          color: black;
          text-decoration: none;
          padding-left: 20px;
          font-family: $font-paragraph-light;
          transition: 1s ease;
          letter-spacing: 3px;
          font-weight: 900;

          &:hover {
            cursor: pointer;
            background-image: linear-gradient(
              43deg,
              #4158d0 0%,
              #c850c0 46%,
              #ffcc70 100%
            );
            background-clip: text;
            color: transparent;
            transition: 0.5s ease;
            transform: scale(1.15);
          }
        }
      }
      & .facebook {
        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
          animation: facebook 6s linear 0s infinite alternate both;
        }
        @keyframes facebook {
          0%,
          100% {
            transform: translateY(0) rotate(0);
            transform-origin: 50% 50%;
          }

          15% {
            transform: translateY(-18px) rotate(-2deg);
          }

          30% {
            transform: translateY(15px) rotate(2deg);
          }

          45% {
            transform: translateY(-8px) rotate(-2.6deg);
          }

          60% {
            transform: translateY(6px) rotate(2deg);
          }

          75% {
            transform: translateY(-6px) rotate(-1.2deg);
          }
        }
        & a {
          color: black;
          text-decoration: none;
          padding-left: 20px;
          font-family: $font-paragraph-light;
          transition: 1s ease;
          letter-spacing: 3px;
          font-weight: 900;
          &:hover {
            cursor: pointer;
            background-image: linear-gradient(
              173.1deg,
              rgba(226, 66, 249, 0.94) 10.2%,
              rgba(79, 147, 249, 1) 77.3%
            );
            background-clip: text;
            color: transparent;
            transition: 0.5s ease;
            transform: scale(1.15);
          }
        }
      }
      & .eyeem {
        display: flex;
        justify-content: center;
        align-items: center;
        & svg {
          animation: eyeem 5s linear 0s infinite alternate both;
        }

        @keyframes eyeem {
          0% {
            transform: rotate(0);
          }

          100% {
            transform: rotate(360deg);
          }
        }

        & a {
          letter-spacing: 3px;
          color: black;
          text-decoration: none;
          padding-left: 20px;
          font-family: $font-paragraph-light;
          transition: 1s ease;
          font-weight: 900;

          &:hover {
            cursor: pointer;
            background-image: radial-gradient(
              circle farthest-corner at 10% 20%,
              rgba(14, 174, 87, 1) 0%,
              rgba(12, 116, 117, 1) 90%
            );
            background-clip: text;
            color: transparent;
            transition: 0.5s ease;
            transform: scale(1.15);
          }
        }
      }
    }
  }

  //* Formation Musician //
  & .formation-musician {
    & .title-music {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      & h1 {
        font-family: $font-paragraph-reg;
        font-size: 27px;
        font-weight: 1000;
        letter-spacing: 8px;
        width: 800px;
        padding: 20px;
      }
    }
    & img {
      width: 750px;
      height: 450px;
      margin: 15px auto;
      display: flex;
      border: 3px solid black;
      border-radius: 0px 0px 200px 0px;
      box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 1);
      -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 1);
      -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 1);
    }
    & .description-music {
      width: 1309px;
      height: 594px;
      background: #f6f1e9;
      border: 3px solid #000000;
      box-shadow: 13px 16px 4px #000000;
      border-radius: 20px;
      margin: 35px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      & #ul1 {
        & li {
          list-style: disc;
          font-family: $font-paragraph-light;
          font-size: 20px;
          margin: 30px;
        }
      }

      & p {
        font-family: $font-paragraph-light;
        font-size: 20px;
        margin: 30px;
        text-decoration: underline;
        text-underline-offset: 5px;
      }

      & #ul2 {
        & li {
          padding: 10px;
          font-size: 20px;
          list-style: decimal;
          font-family: $font-paragraph-light;
        }
      }
    }

    & .social-music {
      display: flex;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

      & svg {
        animation: instagram 1.8s ease-in-out 0s infinite normal both;
      }

      & .insta {
        display: flex;
        justify-content: center;
        align-items: center;

        & a {
          color: black;
          text-decoration: none;
          padding-left: 20px;
          font-family: $font-paragraph-light;
          transition: 1s ease;
          letter-spacing: 3px;
          font-weight: 900;

          &:hover {
            cursor: pointer;
            background-image: linear-gradient(
              43deg,
              #4158d0 0%,
              #c850c0 46%,
              #ffcc70 100%
            );
            background-clip: text;
            color: transparent;
            transition: 0.5s ease;
            transform: scale(1.15);
          }
        }
      }
      & .facebook {
        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
          animation: facebook 6s linear 0s infinite alternate both;
        }

        & a {
          color: black;
          text-decoration: none;
          padding-left: 20px;
          font-family: $font-paragraph-light;
          transition: 1s ease;
          letter-spacing: 3px;
          font-weight: 900;
          &:hover {
            cursor: pointer;
            background-image: linear-gradient(
              173.1deg,
              rgba(226, 66, 249, 0.94) 10.2%,
              rgba(79, 147, 249, 1) 77.3%
            );
            background-clip: text;
            color: transparent;
            transition: 0.5s ease;
            transform: scale(1.15);
          }
        }
      }
      & .youtube {
        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
          animation: eyeem 5s linear 0s infinite alternate both;
        }

        & a {
          letter-spacing: 3px;
          color: black;
          text-decoration: none;
          padding-left: 20px;
          font-family: $font-paragraph-light;
          transition: 1s ease;
          font-weight: 900;

          &:hover {
            cursor: pointer;
            background-image: linear-gradient(
              181.3deg,
              rgba(134, 15, 15, 1) 24.9%,
              rgba(183, 10, 10, 1) 46.9%,
              rgba(210, 70, 0, 1) 85.1%
            );

            background-clip: text;
            color: transparent;
            transition: 0.5s ease;
            transform: scale(1.15);
          }
        }
      }
    }
  }

  //* Formation Professeur //
  & .formation-guitar {
    & h1 {
      text-align: center;
      font-family: $font-paragraph-reg;
      font-size: 27px;
      font-weight: 1000;
      letter-spacing: 8px;
      padding: 20px;
    }

    & .container-text-photo {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 20px;

      & .description-guitar {
        width: 770px;
        height: 580px;
        background: #f6f1e9;
        border: 3px solid #000000;
        box-shadow: -13px 16px 4px #000000;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        & p {
          font-family: $font-paragraph-light;
          font-size: 20px;
          padding: 50px;
          line-height: 40px;
        }
      }
      & img {
        width: 590px;
        height: 892px;
        border: 3px solid #000000;
        border-radius: 0px 0px 200px 0px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
      }
    }
  }

  //* Formation Espace vert //
  & .formation-vert {
    display: flex;
    flex-direction: column;
    height: 75vh;

    & h1 {
      text-align: center;
      font-family: $font-paragraph-reg;
      font-size: 27px;
      font-weight: 1000;
      letter-spacing: 8px;
      padding: 20px;
      text-transform: uppercase;
    }

    & .description-vert {
      width: 1030px;
      height: 462px;
      background: #f6f1e9;
      border: 3px solid #000000;
      box-shadow: -13px 16px 4px #000000;
      border-radius: 20px;
      margin: 100px auto;

      & p {
        font-family: $font-paragraph-light;
        font-size: 30px;
        padding: 50px;
        line-height: 50px;
        text-align: center;
      }
    }
  }

  //* Hobbies //
  & .hobbies {
    & .jdr {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 50px;
      margin: 50px auto;

      & h1 {
        font-family: $font-paragraph-reg;
        font-size: 25px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: 5;
        margin: 20px;
      }

      & .text1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        & .description {
          width: 608px;
          height: 235px;
          background: #f6f1e9;
          border: 3px solid #000000;
          box-shadow: -13px 16px 4px #000000;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          & p {
            text-align: center;
            font-weight: 400;
            font-size: 21px;
            line-height: 246.5%;
            /* or 52px */
            font-family: $font-paragraph-light;
            padding: 10px;
            letter-spacing: 0.09em;
          }
        }
      }

      & img {
        width: 564px;
        height: 317px;
        border: 3px solid #000000;
        border-radius: 0px 0px 200px 0px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
      }
    }

    & .amnesia {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 50px;
      margin: 50px auto;

      & h1 {
        font-family: $font-paragraph-reg;
        font-size: 25px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: 5;
        margin: 20px;
      }

      & .text2 {
        & .description {
          width: 608px;
          height: 235px;
          background: #f6f1e9;
          border: 3px solid #000000;
          box-shadow: 13px 14px 5px 0px rgba(0, 0, 0, 1);
          -webkit-box-shadow: 13px 14px 5px 0px rgba(0, 0, 0, 1);
          -moz-box-shadow: 13px 14px 5px 0px rgba(0, 0, 0, 1);
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          & p {
            text-align: center;
            font-weight: 400;
            font-size: 19px;
            line-height: 246.5%;
            /* or 52px */
            font-family: $font-paragraph-light;
            padding: 10px;
            letter-spacing: 0.09em;
          }
        }
      }

      & img {
        width: 317px;
        height: 477px;
        border: 3px solid #000000;
        border-radius: 0px 0px 0px 200px;
        box-shadow: -11px 12px 5px 0px rgba(0, 0, 0, 1);
        -webkit-box-shadow: -11px 12px 5px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: -11px 12px 5px 0px rgba(0, 0, 0, 1);
      }
    }

    & .movies {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      & h1 {
        font-family: $font-paragraph-reg;
        font-size: 25px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: 5;
        margin: 20px;
      }

      & .text3 {
        & .description {
          width: 608px;
          height: 235px;
          background: #f6f1e9;
          border: 3px solid #000000;
          box-shadow: -13px 16px 4px #000000;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          & p {
            text-align: center;
            font-weight: 400;
            font-size: 19px;
            line-height: 246.5%;
            /* or 52px */
            font-family: $font-paragraph-light;
            padding: 10px;
            letter-spacing: 0.09em;
          }
        }
      }

      & img {
        width: 564px;
        height: auto;
        border: 3px solid #000000;
        border-radius: 0px 0px 200px 0px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
      }
    }
  }

  & .reveal-off-right {
    opacity: 0;
    transform: translateX(30px);
  }

  & .reveal-off-left {
    opacity: 0;
    transform: translateX(-30px);
  }

  & .reveal-off-up {
    opacity: 0;
    transform: translateY(30px);
  }
  & .reveal-off-down {
    opacity: 0;
    transform: translateY(-30px);
  }

  & .reveal-visible-up {
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
  }
  & .reveal-visible-down {
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
  }
  & .reveal-visible-right {
    opacity: 1;
    transform: translateX(0);
    transition: 1s;
  }
  & .reveal-visible-left {
    opacity: 1;
    transform: translateX(0);
    transition: 1s;
  }
}
