//* Page MSC //

.msc-carousel {
  height: 100vh;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

  & .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;

    & .carousel {
      width: 980px;
      height: 710px;
      margin-top: 30px;
      border: 5px solid black;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      position: relative;

      & .img-1 {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;

        & #mscWeb {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          transition: 0.5s;

          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            border: 4px solid goldenrod;
            border-bottom: none;
            transition: 0.5s ease-in-out;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          }
        }
      }
      & .img-2 {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;

        & #oldskool {
          position: absolute;
          bottom: 0%;
          width: 100%;
          height: 100%;
          transition: 0.5s;

          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            border: 5px solid black;
            transition: 0.5s ease-in-out;
            box-shadow: 10px 8px 0px 2px rgba(0, 0, 0, 1);
            -webkit-box-shadow: 10px 8px 0px 2px rgba(0, 0, 0, 1);
            -moz-box-shadow: 10px 8px 0px 2px rgba(0, 0, 0, 1);
          }
        }
      }

      & .img-3 {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;

        & #missCamille {
          position: absolute;
          bottom: 0%;
          width: 100%;
          height: 100%;
          z-index: -1;
          transition: 0.8s;

          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            border: 5px solid goldenrod;
            transition: 0.5s ease-in-out;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
    & .switch-right {
      position: absolute;
      right: 15%;
      color: black;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        color: goldenrod;
      }
    }
    & .switch-left {
      position: absolute;
      left: 15%;
      color: black;
      display: none;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        color: goldenrod;
      }
    }
  }
}
