//* Page MSC //
.msc-carousel {
  max-height: 100vh;

  & .title-msc {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    & h1 {
      font-family: $font-msc;
      font-weight: 100;
      font-size: 60px;
      text-decoration: 1px underline;
      text-underline-offset: 8px;
    }
  }

  & .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;

    & .carousel {
      width: 880px;
      height: 610px;
      margin-top: 30px;
      border: 5px solid black;
      filter: drop-shadow(8px 11px 4px rgba(0, 0, 0, 0.25));
      position: relative;

      & .img-1 {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;

        & #mscWeb {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
         
        }
        
      }
      & .img-2 {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;

        & #oldskool {
          position: absolute;
          bottom: 0%;
          width: 100%;
          height: 100%;
        }
       
        }
      
      & .img-3 {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;

        & #missCamille {
          position: absolute;
          bottom: 0%;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      
      }
    }
    & .switch-right {
      position: absolute;
      right: 15%;
      color: black;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        color: goldenrod;
      }
    }
    & .switch-left {
      position: absolute;
      left: 15%;
      color: black;
      display: none;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        color: goldenrod;
      }
    }
  }
}
