//* Page principale projet //
section.project {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;


  & .intro-container {
    position: relative;
    & .grid-intro {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "img1 text1 img2"
        "text2 text2 text2"
        "img3 text3 text3";

      height: 85vh;

      & .img-msc {
        grid-area: img1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        animation: img1 5s ease 0s infinite normal forwards;
        & img {
          width: 60%;
          height: auto;
        }
        @keyframes img1 {
          0% {
            opacity: 1;
          }

          50% {
            opacity: 0.2;
          }

          100% {
            opacity: 1;
          }
        }
      }
      & .img-miss {
        grid-area: img2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        animation: img2 15s ease 0s infinite normal forwards;
        & img {
          width: 300px;
          height: auto;
          border: 3px solid #dfb51f;
        }
        @keyframes img2 {
          0%,
          100% {
            transform: translateX(0);
          }

          10%,
          30%,
          50%,
          70% {
            transform: translateX(-10px);
          }

          20%,
          40%,
          60% {
            transform: translateX(10px);
          }

          80% {
            transform: translateX(8px);
          }

          90% {
            transform: translateX(-8px);
          }
        }
      }
      & .img-game {
        grid-area: img3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        animation: game 5s ease 0s infinite normal forwards;
        & img {
          height: 300px;
          width: auto;
        }
        @keyframes game {
          0% {
            animation-timing-function: ease-in;
            opacity: 1;
            transform: translateY(-45px);
          }

          24% {
            opacity: 1;
          }

          40% {
            animation-timing-function: ease-in;
            transform: translateY(-24px);
          }

          65% {
            animation-timing-function: ease-in;
            transform: translateY(-12px);
          }

          82% {
            animation-timing-function: ease-in;
            transform: translateY(-6px);
          }

          93% {
            animation-timing-function: ease-in;
            transform: translateY(-4px);
          }

          25%,
          55%,
          75%,
          87% {
            animation-timing-function: ease-out;
            transform: translateY(0px);
          }

          100% {
            animation-timing-function: ease-out;
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }

      & .text1 {
        grid-area: text1;
        text-transform: uppercase;
        font-family: $font-title;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & .text2 {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: text2;
        text-transform: uppercase;
        font-family: $font-title;
        font-size: 50px;
      }
      & .text3 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-area: text3;
        text-transform: uppercase;
        font-family: $font-title;
        font-size: 50px;
        padding-left: 50px;
      }
    }
  }
  & .arrow-right {
    position: absolute;
    bottom: 50px;
    right: 100px;
  }
}


