header {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: 1s;
  animation: headerOpacity 2s linear forwards;

  @keyframes headerOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  & h1 {
    font-family: $font-title;
    font-weight: 100;
    font-size: 6rem;
    text-shadow: -6px 4px 7px rgba(0, 0, 0, 0.33);
    margin: 0px 0 0 10px;
    width: 40vw;
    transition: all 0.5s;
    animation: move-title 10s infinite linear;
  }

  @keyframes move-title {
    0% {
      color: #001219;
      text-shadow: -6px 4px 7px #001219;
    }
    15% {
      color: #005f73;
      text-shadow: -6px 4px 7px #005f73;
    }
    33% {
      color: #0a9396;
      text-shadow: -6px 4px 7px #0a9396;
    }
    53% {
      color: #94d2bd;
      text-shadow: -6px 4px 7px #94d2bd;
    }
    66% {
      color: #e9d8a6;
      text-shadow: -6px 4px 7px #e9d8a6;
    }
    75% {
      color: #ca6702;
      text-shadow: -6px 4px 7px #ca6702;
    }
    80% {
      color: #bb3e03;
      text-shadow: -6px 4px 7px #bb3e03;
    }
    90% {
      color: #ae2012;
      text-shadow: -6px 4px 7px #ae2012;
    }
    100% {
      color: #9b2226;
      text-shadow: -6px 4px 7px #9b2226;
    }
  }

  & .links-container {
    & .links {
      display: flex;
      justify-content: center;
      margin: 80px auto;

      & li {
        margin: 0 80px;
        & a {
          color: #001219;
        }
        & a:visited,
        a:active {
          color: black;
        }
        & #social1:hover {
          color: rgb(169, 27, 212);
        }
        & #social2:hover {
          color: rgb(20, 196, 228);
        }
        & #social3:hover {
          color: rgb(0, 76, 190);
        }
      }

      & li:first-child:hover {
        cursor: pointer;
        animation: left-right 2s infinite forwards;
      }
      & li:nth-child(2):hover {
        cursor: pointer;
        animation: up-down 3s ease 0s infinite normal forwards;
      }
      & li:last-child:hover {
        cursor: pointer;
        animation: linkedin 2s ease 0s infinite normal forwards;
      }
      //- Animation de li //
      @keyframes left-right {
        0%,
        100% {
          transform: translateX(0%);
          transform-origin: 50% 50%;
        }

        15% {
          transform: translateX(-10px) rotate(-6deg);
        }

        30% {
          transform: translateX(10px) rotate(6deg);
        }

        45% {
          transform: translateX(-8px) rotate(-3.6deg);
        }

        60% {
          transform: translateX(9px) rotate(2.4deg);
        }

        75% {
          transform: translateX(-6px) rotate(-1.2deg);
        }
      }
      @keyframes up-down {
        0% {
          transform: translateY(0px);
        }

        24% {
          transform: translateY(-5px);
        }

        40% {
          animation-timing-function: ease-in;
          transform: translateY(-10px);
        }

        65% {
          animation-timing-function: ease-in;
          transform: translateY(-20px);
        }

        82% {
          animation-timing-function: ease-in;
          transform: translateY(-6px);
        }

        93% {
          animation-timing-function: ease-in;
          transform: translateY(-4px);
        }

        25%,
        55%,
        75%,
        87% {
          animation-timing-function: ease-out;
          transform: translateY(0px);
        }

        100% {
          animation-timing-function: ease-out;
          opacity: 1;
          transform: translateY(0px);
        }
      }
      @keyframes linkedin {
        0% {
          transform: scale3d(1, 1, 1);
        }

        30% {
          transform: scale3d(1.25, 0.75, 1);
        }

        40% {
          transform: scale3d(0.75, 1.25, 1);
        }

        50% {
          transform: scale3d(1.15, 0.85, 1);
        }

        65% {
          transform: scale3d(0.95, 1.05, 1);
        }

        75% {
          transform: scale3d(1.05, 0.95, 1);
        }

        100% {
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }

  & .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;

    & .name-container {
      font-family: $font-title;
      font-size: 1.8rem;
      font-weight: 100;
      letter-spacing: 8px;
      text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.39);
      padding: 25px;
      text-decoration: underline;
      text-underline-offset: 8px;
    }
    & .work-container {
      font-family: $font-paragraph-light;
      font-size: 24px;
      letter-spacing: 10px;
      margin: 6px;
      text-align: right;
      width: 93vh;
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }
  & .quote-container {
    display: flex;
    justify-content: flex-end;
    padding: 40px 50px 0 0;
    & .quote {
      display: flex;
      text-align: end;
      align-items: center;
      width: 990px;
      height: 100px;
      background: $color-div;
      border: 3px solid black;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
    & .description {
      padding: 30px;
    }
  }
  & .arrow-down {
    position: absolute;
    bottom: 15%;
    right: 50%;
  }
  & .arrow-down:hover {
    cursor: pointer;
    animation: arrow-down 1s ease infinite forwards;
  }
  @keyframes arrow-down {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.6);
    }

    100% {
      transform: scale(1);
      transition: 0.5s;
    }
  }
}

//* Mediascreen //

//- Grand Ecran pc - TV (1440px et plus) //
@media screen and (min-width: 1440px) and (max-width: 1640px) {
  header {
    & .arrow-down {
      position: absolute;
      bottom: 5%;
      right: 50%;
    }
  }
}

//- 1439px - 1201px Ecran Pc //
@media screen and (min-width: 1201px) and (max-width: 1439px) {
  header {
    & .quote-container {
      display: flex;
      justify-content: flex-end;
      padding: 10px 50px 0 0;
    }
    & .arrow-down {
      position: absolute;
      bottom: 4%;
      right: 50%;
    }
  }
}

//- Petit ecran et pc 769px — 1024px //
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    & h1 {
      font-family: $font-title;
      font-weight: 100;
      font-size: 4rem;
      text-shadow: -6px 4px 7px rgba(0, 0, 0, 0.33);
      margin: 5px 0 0 10px;
      width: 40vw;
      transition: all 0.5s;
      animation: move-title 10s infinite linear;
    }
    & .all-container {
      margin: 15% auto;

      & .links-container {
        & .links {
          display: flex;
          justify-content: center;
          margin: 60px auto;

          & li {
            margin: 0 80px;
            & a {
              color: #001219;
              & svg {
                width: 55px;
                height: 55px;
              }
            }
          }
        }
      }

      & .name {
        & .work-container {
          font-family: $font-paragraph-light;
          font-size: 24px;
          letter-spacing: 10px;
          margin: 6px;
          text-align: center;
          width: 93vh;
          text-decoration: underline;
          text-underline-offset: 8px;
        }
      }
      & .quote-container {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
        & .quote {
          display: flex;
          text-align: end;
          align-items: center;
          width: 950px;
          height: 100px;
          background: $color-div;
          border: 3px solid black;
          box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.75);
        }
        & .description {
          padding: 30px;
        }
      }
    }
    & .arrow-down {
      position: absolute;
      bottom: 2%;
      right: 50%;
    }
    & .arrow-down:hover {
      cursor: pointer;
      animation: arrow-down 1s ease infinite forwards;
    }
    @keyframes arrow-down {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(0.6);
      }

      100% {
        transform: scale(1);
        transition: 0.5s;
      }
    }
  }
}

//- tablette 481px — 768px //

@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
    position: relative;
    width: 100%;
    height: 100vh;
    transition: 1s;
    animation: headerOpacity 2s linear forwards;

    @keyframes headerOpacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    & h1 {
      font-family: $font-title;
      font-weight: 100;
      font-size: 3rem;
      text-shadow: -6px 4px 7px rgba(0, 0, 0, 0.33);
      margin: 10px 0 0 10px;
      width: 40vw;
      transition: all 0.5s;
      animation: move-title 10s infinite linear;
    }

    .all-container {
      margin-top: 30%;
      & .links-container {
        & .links {
          display: flex;
          justify-content: center;
          margin: 55px auto;

          & li {
            margin: 0 40px;
            & a {
              color: #001219;
              & svg {
                width: 45px;
                height: 45px;
              }
            }
            & a:visited,
            a:active {
              color: black;
            }
            & #social1:hover {
              color: black;
            }
            & #social2:hover {
              color: black;
            }
            & #social3:hover {
              color: black;
            }
          }

          & li:first-child:hover {
            cursor: none;
            animation: none;
          }
          & li:nth-child(2):hover {
            cursor: none;
            animation: none;
          }
          & li:last-child:hover {
            cursor: none;
            animation: none;
          }
        }
      }

      & .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 60px;

        & .name-container {
          font-family: $font-title;
          font-size: 1.6rem;
          font-weight: 100;
          letter-spacing: 8px;
          text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.39);
          padding: 25px;
          text-decoration: underline;
          text-underline-offset: 8px;
        }
        & .work-container {
          font-family: $font-paragraph-light;
          font-size: 20px;
          letter-spacing: 10px;
          margin: 6px;
          text-align: center;
          width: 93vh;
          text-decoration: underline;
          text-underline-offset: 8px;
        }
      }
      & .quote-container {
        display: flex;
        padding: 0;
        padding: 0 20px;

        & .quote {
          text-align: end;
          width: 990px;
          height: 100px;
          background: $color-div;
          border: 3px solid black;
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        }
        & .description {
          padding: 20px;
          font-size: 13px;
        }
      }
    }
    & .arrow-down {
      position: absolute;
      bottom: 10%;
      right: 45%;
    }
    & .arrow-down:hover {
      cursor: none;
      animation: none;
    }
  }
}

//- Telephone 320px —480px //

@media screen and (min-width: 320px) and (max-width: 480px) {
  header {
    & h1 {
      font-family: $font-title;
      font-weight: 100;
      font-size: 2rem;
      text-shadow: -6px 4px 7px rgba(0, 0, 0, 0.33);
      margin: 5px 0 0 5px;
      width: 40vw;
      transition: all 0.5s;
      animation: move-title 10s infinite linear;
    }
    .all-container {
      margin-top: 80px;

      & .links-container {
        & .links {
          display: flex;
          justify-content: center;
          margin: 18px auto;

          & li {
            margin: 0 20px;
            & a {
              color: #001219;
              & svg {
                width: 35px;
                height: 35px;
              }
            }
            & a:visited,
            a:active {
              color: black;
            }
            & #social1:hover {
              color: black;
            }
            & #social2:hover {
              color: black;
            }
            & #social3:hover {
              color: black;
            }
          }

          & li:first-child:hover {
            cursor: none;
            animation: none;
          }
          & li:nth-child(2):hover {
            cursor: none;
            animation: none;
          }
          & li:last-child:hover {
            cursor: none;
            animation: none;
          }
        }
      }

      & .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 40px;
        margin: 10px;

        & .name-container {
          font-family: $font-title;
          font-size: 1rem;
          font-weight: 100;
          letter-spacing: 8px;
          text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.39);
          padding: 5px;
          text-decoration: underline;
          text-underline-offset: 8px;
        }
        & .work-container {
          font-family: $font-paragraph-light;
          font-size: 13px;
          letter-spacing: 5px;
          margin: 6px;
          text-align: center;
          width: 93vh;
          text-decoration: underline;
          text-underline-offset: 8px;
        }
      }
      & .quote-container {
        padding: 0;
        padding: 0 20px;

        & .quote {
          text-align: end;
          width: 990px;
          height: 80px;
          background: $color-div;
          border: 3px solid black;
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        }
        & .description {
          padding: 20px;
          font-size: 11px;
        }
      }
    }
    & .arrow-down {
      position: absolute;
      bottom: 3%;
      right: 47%;

      & svg {
        width: 30px;
        height: 30px;
      }
    }
    & .arrow-down:hover {
      cursor: none;
      animation: none;
    }
  }
}
