header {
  position: relative;
  width: 100%;
  height: 100vh;

  & h1 {
    font-family: $font-title;
    font-weight: 100;
    font-size: 6rem;
    text-shadow: -6px 4px 7px rgba(0, 0, 0, 0.33);
    margin: 5px 0 0 10px;
  }
  & h1:hover {
    cursor: pointer;
    animation: move-title 3s infinite forwards;
  }
  @keyframes move-title {
    0% {
      color: #2c3532;
    }
    33% {
      color: #0f6466;
    }
    66% {
      color: #d8b08c;
    }
    80% {
      color: #ffcb9a;
    }
    90% {
      color: #d2e8e3;
    }
    100% {
      color: #2c3532;
    }
  }

  & .links-container {
    & .links {
      display: flex;
      justify-content: center;
      margin: 80px auto;

      & li {
        margin: 0 80px;
        & a:visited,
        a:active {
          color: black;
        }
        & #social1:hover {
          color: rgb(182, 0, 182);
        }
        & #social2:hover {
          color: rgb(20, 196, 228);
        }
        & #social3:hover {
          color: rgb(1, 34, 141);
        }
      }

      & li:first-child:hover {
        cursor: pointer;
        animation: left-right 2s infinite forwards;
      }
      & li:nth-child(2):hover {
        cursor: pointer;
        animation: up-down 3s ease 0s infinite normal forwards;
      }
      & li:last-child:hover {
        cursor: pointer;
        animation: myAnim 2s ease 0s infinite normal forwards;
      }
      //- Animation de li //
      @keyframes left-right {
        0%,
        100% {
          transform: translateX(0%);
          transform-origin: 50% 50%;
        }

        15% {
          transform: translateX(-10px) rotate(-6deg);
        }

        30% {
          transform: translateX(10px) rotate(6deg);
        }

        45% {
          transform: translateX(-8px) rotate(-3.6deg);
        }

        60% {
          transform: translateX(9px) rotate(2.4deg);
        }

        75% {
          transform: translateX(-6px) rotate(-1.2deg);
        }
      }
      @keyframes up-down {
        0% {
          transform: translateY(0px);
        }

        24% {
          transform: translateY(-5px);
        }

        40% {
          animation-timing-function: ease-in;
          transform: translateY(-10px);
        }

        65% {
          animation-timing-function: ease-in;
          transform: translateY(-20px);
        }

        82% {
          animation-timing-function: ease-in;
          transform: translateY(-6px);
        }

        93% {
          animation-timing-function: ease-in;
          transform: translateY(-4px);
        }

        25%,
        55%,
        75%,
        87% {
          animation-timing-function: ease-out;
          transform: translateY(0px);
        }

        100% {
          animation-timing-function: ease-out;
          opacity: 1;
          transform: translateY(0px);
        }
      }
      @keyframes myAnim {
        0% {
          transform: scale3d(1, 1, 1);
        }

        30% {
          transform: scale3d(1.25, 0.75, 1);
        }

        40% {
          transform: scale3d(0.75, 1.25, 1);
        }

        50% {
          transform: scale3d(1.15, 0.85, 1);
        }

        65% {
          transform: scale3d(0.95, 1.05, 1);
        }

        75% {
          transform: scale3d(1.05, 0.95, 1);
        }

        100% {
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }

  & .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;

    & .name-container {
      font-family: $font-title;
      font-size: 1.8rem;
      font-weight: 100;
      letter-spacing: 8px;
      text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.39);
      padding: 25px;
      text-decoration: underline;
      text-underline-offset: 8px;
    }
    & .work-container {
      font-family: $font-paragraph-light;
      font-size: 24px;
      letter-spacing: 10px;
      margin: 6px;
      text-align: right;
      width: 93vh;
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }
  & .quote-container {
    display: flex;
    justify-content: flex-end;
    padding: 40px 50px 0 0;
    & .quote {
      display: flex;
      text-align: end;
      align-items: center;
      width: 990px;
      height: 100px;
      background: $color-div;
      border: 3px solid black;
    }
    & .description {
      padding: 30px;
    }
  }
  & .arrow-down {
    position: absolute;
    bottom: 15%;
    right: 50%;
  }
  & .arrow-down:hover {
    cursor: pointer;
    animation: arrow-down 1s infinite forwards;
  }
  @keyframes arrow-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
