//* Fonts //
@font-face {
  font-family: "title";
  src: url("../assets/fonts/FUTRFW.TTF");
}
@font-face {
  font-family: "paragraph-reg";
  src: url("../assets/fonts/MADEINFINITY\ PERSONALUSE-Regular.otf");
}
@font-face {
  font-family: "paragraph-light";
  src: url("../assets/fonts/MADEINFINITY\ PERSONALUSE-Light.otf ");
}

$font-title: "title";
$font-paragraph-reg: "paragraph-reg";
$font-paragraph-light: "paragraph-light";

//* Colors //
$color-btn: #97ffae;
$color-div: #f6f1e9;
$color-text-title: #7c1960;

//* ROOT //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
}
